.masonry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-5);
  grid-template-rows: 676px;
  width: 652px;
}

.column {
  display: grid;
  gap: var(--spacing-5);
}

.column:nth-child(1) {
  grid-template-rows: 3fr 4fr 3fr;
}

.column:nth-child(2) {
  grid-template-rows: repeat(2, 1fr);
}

.item,
.item > img,
.item > div {
  border-radius: var(--border-radius-md);
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.pattern {
  background-size: 520px;
  background-image: url("/assets/logo-pattern.svg");
  background-color: var(--color-lime-400);
  background-position: center;
  background-repeat: no-repeat;
}

.split {
  font-size: 53px;
  align-items: center;
  font-weight: 700;
  background-color: var(--color-grey-600);
  font-family: var(--font-family-heading);
  color: white;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .masonry {
    grid-template-columns: 1fr 0;
    flex-shrink: 2;
  }
}
