.title {
  line-height: 1.1;
  font-size: var(--font-size-6);
  font-weight: 400;
  margin: 160px 0 var(--spacing-4) 0;
}

.subtitle {
  font-size: var(--font-size-4);
}

.helperText {
  margin-top: var(--spacing-8);
  font-size: var(--font-size-2);
}

.button {
  margin-top: var(--spacing-7);
}

@media screen and (max-width: 576px) {
  .title {
    margin-top: 80px;
  }
}
