.button {
  margin-top: var(--spacing-7);
}

.inputPair {
  display: flex;
  gap: var(--spacing-4);
  margin: var(--spacing-8) 0 var(--spacing-4) 0;
}

.inputPair > div {
  flex: 1;
}

@media screen and (max-width: 992px) {
  .inputPair {
    flex-direction: column;
  }
}

.error {
  color: var(--color-red-700);
  font-size: var(--font-size-2);
  margin-top: var(--spacing-3);
}
